body{
	padding: 0;
	margin: 0;
	min-width: 460px;
	min-height:470px;
}
ul li{
	list-style-type: none;
}
a{
	color: #CCCCCC;
	text-decoration: none;
}
.head img:hover{
	cursor: pointer;
}
.head{
	/*position: fixed;*/
	width:440px;
	height:auto;
	/*margin-left: 100px;*/
	margin:0 auto;
	margin-top:50px;
}

.head p{
 font-size:40px;
 text-align:center;
 color:#fff;
 font-family:"华文行楷";
}

.font1{
	float:left;
	width:25%;
	height:200px;
	margin-left:150px;
	margin-top:0px;
	display:inline-block;
}

.font1 p{
	font-size:70px;
    color:#FFFF37;
    font-family:"宋体";
	display:inline-block;
}

.font1 p a{
	font-size:20px;
    color:#FFFF37;
    font-family:"宋体";
}

.font1 b{
	position:relative;
	top:150px;
	font-size:16px;
    color:#ffff;
    font-family:"宋体";
	float:left;
	claer:both;
	left:80px;
}

.font2{
	position:absolute;
	top:135px;
	clear:both;
	width:25%;
	height:200px;
	margin-left:350px;
	
}

.font2 p{
	font-size:70px;
    color:#FFFF37;
    font-family:"宋体";
	display:inline-block;
}

.font2 p a{
	font-size:20px;
    color:#FFFF37;
    font-family:"宋体";
}

.font2 b{
	position:relative;
	top:150px;
	font-size:16px;
    color:#ffff;
    font-family:"宋体";
	float:left;
	claer:both;
	left:85px;
}

.font3{
	position:absolute;
	top:135px;
	clear:both;
	width:25%;
	height:200px;
	margin-left:700px;
	
}

.font3 p{
	font-size:70px;
    color:#FFFF37;
    font-family:"宋体";
	display:inline-block;
}

.font3 p a{
	font-size:20px;
    color:#FFFF37;
    font-family:"宋体";
}


.font3 b{
	position:relative;
	top:150px;
	font-size:16px;
    color:#ffff;
    font-family:"宋体";
	float:left;
	claer:both;
	left:90px;
}

.buttonsq{
	position:absolute;
	top:350px;
	clear:both;
	width:25%;
	height:200px;
	margin-left:500px;
	
}

.buttonsq input{
	width:230px;
	height:38px;
	margin-top:30px;
	background-color:transparent;
	color: #FFFFFF;
	font-size:25px;
	border:none;
}

.buttonsq input:hover{
	color: #95CACA;
	
}


.bgChange {
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height: 680px;
	z-index:-1;
	overflow: hidden;
	min-width:960px;

}
.bgChange img{
	width: 100%;
	min-width:960px;
	min-height:680px;
	overflow: hidden;
	z-index: -1;
}
.content{
	opacity:0.9;
	/*position: absolute;*/
	margin:0 auto;
	background-color:#ffffff;
	width: 320px;
	height: auto;
	margin-top:15px;

	padding-bottom: 30px;
}
.content .box{
	margin-left: 22px;
	position: relative;
}
.introduce{
	position: absolute;
	top:680px;
	width:100%;
	height:auto;
}
.introduce_pic img{
	display: inline-block;
	width: 210px;
	height:210px;
	margin-left: 20px;
}
.centerBox{
	text-align: center;
	font-family: "Hiragino Sans GB","Microsoft YaHei","微软雅黑",tahoma,arial,simsun,"宋体";
	color: #444;
	letter-spacing: 2px;
	line-height: 56px;
	padding: 10px 0 ;
}
.centerBox h2{
	font-size: 46px;
	font-weight: normal;
}
.centerBox p{
	display: block;
}
.centerBox a{
	color: #74808b;
}
.centerBox a:hover{
	color: #444;
}
.centerBox .say_something{
	padding: 0 0 69px;
	font-size: 18px;
	line-height: 36px;
}
.centerBox_color{
	background: #f7f7f7;
}






.box span{
	width:240px;
	height:40px;
	font-size: 20px;
	line-height: 50px;
	margin-left: 30px;
}
.box span:hover{
	cursor: pointer;
	border-bottom: 1px solid #00aaff;
}

.inputBox1{
	display: inline-block;
	left:-5px;
	width:226px;
	height:36px;
	margin-top: 20px;
	/*border: none;*/
}
.inputBox2{
	display: inline-block;
	left:-5px;
	width:226px;
	height:36px;
	margin-top: 5px;
	/*border: none;*/
}
.botton{
	width:230px;
	height:38px;
	margin-top:30px;
	background-color: #0391e6;
	color: #FFFFFF;
	font-size: 15px;
	letter-spacing: 5px;
}
.botton :hover{
	background-color: #aa0000;
}
.other{
	width:auto;
	height:10px;
}


.ohter{
	position: absolute;
	bottom:50px;
	right:15px;
}
.ohter a:hover{
	color: #aa0000;
}


.link :hover{
	text-align: center;
	color: #ffffff;
}

.copyright{
	text-align: center;
	color: #CCCCCC;
}

.item b{
	position: relative;
	display: inline-block;
	width: 200px;
	font-size: 8px;
	color: #aa0000;
}
.verify {
	position: relative;
}
.verify img{
	display: inline-block;
	width: 110px;
	height:41px;
	position: absolute;
	overflow:hidden;
	/*border: 1px solid blue;*/
	right:47px;
	top: 10px;
	/*background: url("../img/verifyPic.png");*/
}


